.c1
{
    width: 150px;
    height: 400px;
    background: blue;
    margin: 200px;
    margin-right: 100px;
}
.u2
{
    width: 400px;
    height: 100px;
    background: yellow;
    margin-top: -710px;
    margin-left: 200px;
}
.d3
{
    width: 400px;
    height: 100px;
    background: #3fff00;
    margin-left: 650px;
    margin-top: -100px;
}
.u4_2
{
    width: 150px;
    height: 400px;
    background: blue;
    margin-left: 900px;
    margin-top: 10px;
}